body {
    background-image: url('https://miro.medium.com/proxy/1*9NMB1-FcKt7P4H9lTeZwlg.png');
}

.fizzbuzz_container p {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
}