body {
    background: repeating-radial-gradient(violet, red, orange, yellow, green, blue, indigo 100px);
}

.friends-list {
    justify-content: space-between;
    flex-wrap: wrap;
}

.friend-card {
    width: 25%;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-card img {
    width: 100%;
    margin-bottom: 10px;
}

.friend-card p {
    margin-bottom: 10px;
    line-height: 1;
    text-align: justify;
}